<div class ="page">
    <textarea class="xmlTxt">
        <?xml version="1.0" encoding="UTF-8"?>
    <cockatrice_carddatabase version="4">
      <sets>
        <set>
          <name>VSFD</name>
          <longname>VSFD</longname>
          <settype></settype>
        </set>
      </sets>
      <cards>
    
        <card>
          <name>Alexandre Lemair</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>WB</manacost>
            <cmc>2</cmc>
            <type>Criatura Lendária - Humano Clérigo </type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Sempre que uma criatura inimiga for colocada em um cemitério, crie uma ficha de Anotação.
    Quando criaturas do tipo Aberração morrerem, receba +1/+1, você pode perder 1 de vida e comprar uma carta.</text>
        </card>
        <card>
          <name>Amaldiçoar</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Encantamento</type>
            <maintype>Encantamento</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Encantar criatura
    A criatura encantada deve ser sacrificada pelo seu dono no final de seu turno.</text>
        </card>
        <card>
          <name>Baba Yaga</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>WB</manacost>
            <cmc>2</cmc>
            <type>Criatura - Humano Aberração Clérigo </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Roubar Vida
    Sempre que você recuperar vida, conceda +1/+1 para uma criatura</text>
        </card>
        <card>
          <name>Caçador de Aberrações</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>1WB</manacost>
            <cmc>3</cmc>
            <type>Criatura - Humano Caçador </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao entrar em jogo, cause dano a uma criatura igual ao número de criaturas que você controla.</text>
        </card>
        <card>
          <name>Casa da Yaga</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>3B</manacost>
            <cmc>4</cmc>
            <type></type>
            <maintype></maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Sentinela
    Enquanto essa criatura está em jogo, suas criaturas adjacentes possuem Sentinela.</text>
        </card>
        <card>
          <name>Espalhar Pestes</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>1WB</manacost>
            <cmc>3</cmc>
            <type>Encantamento</type>
            <maintype>Encantamento</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando criaturas inimigas entrarem em jogo, crie uma ficha de Praga.</text>
        </card>
        <card>
          <name>Espreitador</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>3WB</manacost>
            <cmc>5</cmc>
            <type>Criatura - Aberração </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade
    Quando eu causar dano a um jogador, crie uma cópia minha.</text>
        </card>
        <card>
          <name>Executor</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>WB</manacost>
            <cmc>2</cmc>
            <type>Criatura - Aberração Clérigo </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Toque mortífero.
    Quando essa criatura causar dano de combate a um jogador, crie uma ficha de Praga.</text>
        </card>
        <card>
          <name>Flagelo</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>1WB</manacost>
            <cmc>3</cmc>
            <type>Criatura - Humano Clérigo </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Enquanto Flagelo estiver em jogo, criaturas de seus oponentes recebem -1/-1.</text>
        </card>
        <card>
          <name>Heremita Carniceiro</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Criatura - Aberração Clérigo </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando você ganhar vida, cause 1 de dano a um jogador alvo.</text>
        </card>
        <card>
          <name>Hydra Falsa</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>4B</manacost>
            <cmc>5</cmc>
            <type>Criatura Lendária - Aberração </type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade
    Quando uma criatura inimiga morrer, o dono daquela criatura descarta uma carta.</text>
        </card>
        <card>
          <name>Idolo do Oblivio</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>1</manacost>
            <cmc>1</cmc>
            <type>Artefato</type>
            <maintype>Artefato</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>{T}: Se você tiver criado fichas nesse turno, compre uma carta</text>
        </card>
        <card>
          <name>Mau Presságio</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>2WB</manacost>
            <cmc>4</cmc>
            <type>Encantamento</type>
            <maintype>Encantamento</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando essa carta entra em jogo, todos os jogadores descartam uma carta.
    Sempre que um oponente descartar uma carta receba 2 de vida, caso descarte uma carta de criatura, crie uma ficha de Praga.</text>
        </card>
        <card>
          <name>Pestilento</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Criatura - Pássaro Aberração </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Voar
    Suas fichar de Praga possuem Voar.</text>
        </card>
        <card>
          <name>Praga</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>B</color>
            <manacost></manacost>
            <cmc>0</cmc>
            <type>Token  - Pássaro Aberração </type>
            <maintype></maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Roubar Vida</text>
        </card>
        <card>
          <name>Próxima Herdeira</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>WB</manacost>
            <cmc>2</cmc>
            <type>Criatura Lendária - Anjo Aberração </type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Voar
    O jogador que receber dano de combate desta criatura, descarta um número de cartas igual ao seu poder.</text>
        </card>
        <card>
          <name>Psicose</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Magia</type>
            <maintype>Magia</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>A criatura alvo luta com a criatura adjacente que possui menor vida.</text>
        </card>
        <card>
          <name>Rei dos Ratos</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Criatura Lendária - Rato Aberração </type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>As criaturas que compartilharem um tipo com essa criatura possuem Venenoso.
    T2:Crie duas fichas de Praga.</text>
        </card>
        <card>
          <name>Sessão de Purificação</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>4B</manacost>
            <cmc>5</cmc>
            <type>Encantamento</type>
            <maintype>Encantamento</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>No inicio do turno de cada jogador, aquele jogador sacrifica uma criatura.</text>
        </card>
        <card>
          <name>Soldado da Cripta </name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>WB</manacost>
            <cmc>2</cmc>
            <type>Criatura - Cavaleiro Aberração </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Escudo
    Quando entrar em jogo, sacrifique uma criatura.</text>
        </card>
        <card>
          <name>Ursídeo Caçador</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>3B</manacost>
            <cmc>4</cmc>
            <type>Criatura - Urso Aberração </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Atropelar
    Pelo menos uma criatura deve bloquear Ursídeo caçador.</text>
        </card>
        <card>
          <name>Wetiko</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Criatura - Aberração Druida </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade
    Ao causar dano em um jogador, escolha — 
    Ambos sacrificam uma criatura;
    Ambos compram uma carta.</text>
        </card>
        <card>
          <name>A Lenda de Sparta</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>WBR</color>
            <manacost>8RW</manacost>
            <cmc>10</cmc>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>               Atropelar — Ímpeto
    
    Conceda X ao Dano e RES dessa carta
    X = Héroi de Guerra invocados. (Somente aliados)</text>
        </card>
        <card>
          <name>Antíopa</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>1RW</manacost>
            <cmc>3</cmc>
            <type>Criatura - Humano - Héroi de Guerra - Deus - Amazona</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                 Ímpeto — Escudo
    
    
    Conceda +1/+0 a todas as criaturas “Héroi de Guerra”
    
    
    </text>
        </card>
        <card>
          <name>Aquiles</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>1R</manacost>
            <cmc>2</cmc>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                     Ímpeto
    
    
    
    
    
    </text>
        </card>
        <card>
          <name>Atreus</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>5R</manacost>
            <cmc>6</cmc>
            <type>Criatura - Deus - Humano - Héroi de Guerra</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>             Ímpeto — Alcance
    
    
    
    
    </text>
        </card>
        <card>
          <name>Cavalo de Troia</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>2R</manacost>
            <cmc>3</cmc>
            <type>Criatura - Héroi de Guerra</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quado esta carta for destruida, invoque 3 Soldado Spartano (1/1)
    
    
    
    
     </text>
        </card>
        <card>
          <name>Defensor Spartano</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>W</manacost>
            <cmc>1</cmc>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao atacar junto a outro aliado, conceda Escudo ao aliado a esquerda.</text>
        </card>
        <card>
          <name>Deimos &amp; Fobos</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>6RW</manacost>
            <cmc>8</cmc>
            <type>Criatura - Deus - Humano - Héroi de Guerra</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>  Ímpeto -- Escudo — Ataque Duplo
    
    
    
    
    
    </text>
        </card>
        <card>
          <name>Deus da Guerra</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>4RW</manacost>
            <cmc>6</cmc>
            <type>Comandante - Deus - Humano - Héroi de Guerra</type>
            <maintype>Comandante</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Para cada criatura aliada em campo recebe seguintes beneficios:
    
    2- +1/+0
    5- +1/+1
    10- Ímpeto, Escudo
    15- Ataque Rápido
    20- Ataque Duplo
    30- Roubo de Vida
    40- Atropelar
    50- Conceda os efeitos a suas criaturas</text>
        </card>
        <card>
          <name>Exército Spartano</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>6RW</manacost>
            <cmc>8</cmc>
            <type>Magika</type>
            <maintype>Magika</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Invoque 3 Soldados de Sparta (1/1) e 3 Defensores de Sparta (0/2)</text>
        </card>
        <card>
          <name>Filha da Guerra</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>6R</manacost>
            <cmc>7</cmc>
            <type>Criatura Léndaria - Humano - Deus - Héroi da Guerra</type>
            <maintype>Léndaria</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                      Sentinela
    
    Sempre que esta carta atacar com aliados, conceda +1/+1 a todos.
    
    </text>
        </card>
        <card>
          <name>Flecha no Calcanhar</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>1R</manacost>
            <cmc>2</cmc>
            <type>Magika Instantânea</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Todas as criaturas que estiverem em combate, recebem +1/-1 até o final do combate</text>
        </card>
        <card>
          <name>Fúria de Zeus</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>1</manacost>
            <cmc>1</cmc>
            <type>Magika Instantânea</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Cause 3 de dano a qualquer alvo.</text>
        </card>
        <card>
          <name>Harmonia</name>
          <set rarity="mythic">VSFD</set>
          <prop>
            <color>WB</color>
            <manacost>5W</manacost>
            <cmc>6</cmc>
            <type>Criatura - Humano - Deus</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                       Escudo
    
    
    
    
    {T}: Conceda Escudo e Sentinela a suas criaturas em campo</text>
        </card>
        <card>
          <name>Hércules</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>3RW</manacost>
            <cmc>5</cmc>
            <type>Criatura - Deus - Humano - Héroi de Guerra</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                           Escudo — Ímpeto
    
    
    
    
    
    
    A cada abate feito por esta carta, adicione +1/1
    (Ao acumular 15/15 remova este efeito e conceda Atropelar)
    </text>
        </card>
        <card>
          <name>Hipólita</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>2RW</manacost>
            <cmc>4</cmc>
            <type>Criatura - Deus - Humano - Héroi de Guerra - Amazona</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                         Escudo
    
    
    Conceda +1/+1 a criaturas aliadas. (Esse efeito permanece ativo enquanto esta carta estiver em campo)
    
    </text>
        </card>
        <card>
          <name>Perseu</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WR</color>
            <manacost>3RW</manacost>
            <cmc>5</cmc>
            <type>Criatura - Deus - Humano - Héroi de Guerra</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Impéto — Ataque Rápido — Escudo
    
    
    
    
    
    
    </text>
        </card>
        <card>
          <name>Pós Guerra</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>2W</manacost>
            <cmc>3</cmc>
            <type>Magika</type>
            <maintype>Magika</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Se cure em {X}, X = criaturas vivas em seu campo.
    (Só pode ser usada depois do combate)</text>
        </card>
        <card>
          <name>Resquicios da Guerra</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>2R</manacost>
            <cmc>3</cmc>
            <type>Magika Instantânea</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Conceda -0/-2 a todas as criaturas
    (Só pode ser usada após o combate)</text>
        </card>
        <card>
          <name>Soldado Spartano</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>R</manacost>
            <cmc>1</cmc>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao atacar junto a outro aliado, conceda +1/+0 ao aliado da direita.</text>
        </card>
        <card>
          <name>Soldados Spartanos</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>4R</manacost>
            <cmc>5</cmc>
            <type>Magika</type>
            <maintype>Magika</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Invoca 3 Soldado de Sparta</text>
        </card>
        <card>
          <name>Teseu</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>R</color>
            <manacost>1R</manacost>
            <cmc>2</cmc>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>                       Sentinela
    
    
    
    
    
    
    </text>
        </card>
        <card>
          <name>Aura de Silencio</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>2W</manacost>
            <cmc>3</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Artifact and enchantment spells your opponents cast cost {2} more to cast.
    
    Sacrifice Aura of Silence: Destroy target artifact or enchantment.</text>
        </card>
        <card>
          <name>Confinamento Solitario</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>3</manacost>
            <cmc>3</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>No início de sua manutenção, sacrifique Confinamento Solitário, a menos que você descarte um card.
    Pule sua etapa de compra.
    Você tem manto. (Você não pode ser alvo de mágicas nem de habilidades.)
    Previna todo dano que seria causado a você.</text>
        </card>
        <card>
          <name>Ethereal Armor</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>2W</manacost>
            <cmc>3</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Enchant creature
    Enchanted creature gets +1/+1 for each enchantment</text>
        </card>
        <card>
          <name>Nunca mais</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>12W</manacost>
            <cmc>13</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Conforme Nunca Mais entra no campo de batalha, nomeie um card que não seja um terreno.</text>
        </card>
        <card>
          <name>Phyrexian Arena</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>At the beginning of your upkeep, you draw a card and you lose 1 life.</text>
        </card>
        <card>
          <name>Propaganda</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>U</color>
            <manacost>2U</manacost>
            <cmc>3</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Creatures can’t attack you unless their controller pays 2 for each creature they control that’s attacking you.</text>
        </card>
        <card>
          <name>Steel of Godhead</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WU</color>
            <manacost>1W/U</manacost>
            <cmc>2</cmc>
            <type>Enchantment</type>
            <maintype>Enchantment</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Enchant creature
    As long as enchanted creature is white, it gets +1/+1 and has lifelink. (Damage dealt by the creature also causes its controller to gain that much life.)
    As long as enchanted creature is blue, it gets +1/+1 and can’t be blocked.</text>
        </card>
        <card>
          <name>Alimentar o Enxame</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Instant</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Destrua a criatura ou o encantamento alvo que um oponente controla. Você perde uma quantidade de pontos de vida igual ao valor de mana daquela permanente.</text>
        </card>
        <card>
          <name>Cólera de Deus</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>5WW</manacost>
            <cmc>7</cmc>
            <type>Instant</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Destrua todas as criaturas atacantes</text>
        </card>
        <card>
          <name>Caminho pata o Exílio</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>1W</manacost>
            <cmc>2</cmc>
            <type>Mágica instantânea</type>
            <maintype>instantânea</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Exile a criatura alvo. Seu controlador pode ganha vida igual ao ataque da criatura</text>
        </card>
        <card>
          <name>Comandante da Legião</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>3W</manacost>
            <cmc>4</cmc>
            <type>Criatura Rara - Humano</type>
            <maintype>Rara</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>X é o número de Humanos que você controla.</text>
        </card>
        <card>
          <name>Copiar Encantamento</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>U</color>
            <manacost>U</manacost>
            <cmc>1</cmc>
            <type>Encantamento</type>
            <maintype>Encantamento</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Essa carta entra em jogo como uma cópia de um encantamento no campo</text>
        </card>
        <card>
          <name>Negate</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>U</color>
            <manacost>1U</manacost>
            <cmc>2</cmc>
            <type>instant</type>
            <maintype>instant</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Counter target noncreature spell.</text>
        </card>
        <card>
          <name>Portão do Céu</name>
          <set rarity="uncommon">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>5WW</manacost>
            <cmc>7</cmc>
            <type>Feitiço</type>
            <maintype>Feitiço</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Devolva todos os encantamentos do cemiterio para o campo de batalha</text>
        </card>
        <card>
          <name>Zur O encantador</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>WUB</color>
            <manacost>2WUB</manacost>
            <cmc>5</cmc>
            <type>Comandante - Humano Mago</type>
            <maintype>Comandante</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Indentrutivel
    Whenever Zur the Enchanter attacks, you may search your library for an enchantment card with mana value 3 or less, put it onto the battlefield, then shuffle.</text>
        </card>
        <card>
          <name>Comando austero</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>W</color>
            <manacost>4WW</manacost>
            <cmc>6</cmc>
            <type>Sorcery</type>
            <maintype>Sorcery</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Escolha dois —
    • Destrua todos os artefatos.
    • Destrua todos os encantamentos.
    • Destrua todas as criaturas com valor de mana igual ou inferior a 3.
    • Destrua todas as criaturas com valor de mana igual ou superior a 4.</text>
        </card>
        <card>
          <name>Damnation</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>3BB</manacost>
            <cmc>5</cmc>
            <type>Sorcery</type>
            <maintype>Sorcery</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>Destroy all creatures</text>
        </card>
        <card>
          <name>Toxic Deluge</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Sorcery</type>
            <maintype>Sorcery</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>As an additional cost to cast this spell, pay X life.
    All creatures get -X/-X until end of turn.</text>
        </card>
        <card>
          <name>Pico de adrenalina</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>BB</manacost>
            <cmc>2</cmc>
            <type>Artifact - Equipment </type>
            <maintype>Artifact</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>A criatura equipada recebe +1/+0 e Ímpeto
    Sacrifique a criatura que atacar com este artefato equipado
    {0}: Equipar</text>
        </card>
        <card>
          <name>Tomo de Ébano</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>BBB</manacost>
            <cmc>3</cmc>
            <type>Artifact</type>
            <maintype>Artifact</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>T1: Sacrifique uma criatura, cause dano igual ao poder da criatura sacrificada à qualquer alvo.</text>
        </card>
        <card>
          <name>Tomo do conhecimento obscuro</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>BB</manacost>
            <cmc>2</cmc>
            <type>Artifact</type>
            <maintype>Artifact</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando uma unidade morrer, ganhe 1 de vida.</text>
        </card>
        <card>
          <name>Companheiro</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>BG</manacost>
            <cmc>2</cmc>
            <type>Creature</type>
            <maintype>Creature</maintype>
            <pt>2/2</pt>
          </prop>
          <tablerow>2</tablerow>
          <text>Voar</text>
        </card>
        <card>
          <name>Furia da Besta Enjaulada</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>G</color>
            <manacost>3G</manacost>
            <cmc>4</cmc>
            <type>Creature</type>
            <maintype>Creature</maintype>
            <pt>1/2</pt>
          </prop>
          <tablerow>2</tablerow>
          <text>Sempre que uma criatura de poder 2 ou menor entrar em jogo, Compre uma Carta</text>
        </card>
        <card>
          <name>Gata dos Becos</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>3B</manacost>
            <cmc>4</cmc>
            <type>Creature - Humano Ladino </type>
            <maintype>Creature</maintype>
            <pt>3/2</pt>
          </prop>
          <tablerow>2</tablerow>
          <text>Furtividade
    Compre uma carta do deck do oponente e descarte um card</text>
        </card>
        <card>
          <name>Valira sangnar</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Creature - Humano Ladino </type>
            <maintype>Creature</maintype>
            <pt>1/2</pt>
          </prop>
          <tablerow>2</tablerow>
          <text>Furtividade
    Atacar concede +1+1 </text>
        </card>
        <card>
          <name>Crescimento Pica</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>G</color>
            <manacost>2G</manacost>
            <cmc>3</cmc>
            <type>Instant</type>
            <maintype>Instant</maintype>
          </prop>
          <tablerow>3</tablerow>
          <text>A criatura alvo ganha +3/+3 até o final do turno</text>
        </card>
        <card>
          <name>Armadilha de rato</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Armadilha</type>
            <maintype>Armadilha</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando um jogador jogar três cartas em um turno invoque um rato 6/6 </text>
        </card>
        <card>
          <name>Arqueiro silencioso</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>2BG</manacost>
            <cmc>4</cmc>
            <type>Criatura - Humano Arqueiro </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade</text>
        </card>
        <card>
          <name>Devoradoras de cadaver</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>1BG</manacost>
            <cmc>3</cmc>
            <type>Mágika instantânea</type>
            <maintype>instantânea</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Para cada criatura que morreu nesse turno, crie uma ficha de aranha 1/2.</text>
        </card>
        <card>
          <name>Emboscada</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>G</color>
            <manacost>1G</manacost>
            <cmc>2</cmc>
            <type>Armadilha</type>
            <maintype>Armadilha</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando um inimigo realizar uma ação de ataque contra você, os atacantes recebem -1/-1 até o final do turno</text>
        </card>
        <card>
          <name>Espirito da natureza</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>8BG</manacost>
            <cmc>10</cmc>
            <type>Criatura Lendária</type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade
    Todas as criaturas que tiverem outra criatura adjacente recebe +1/+1
    </text>
        </card>
        <card>
          <name>Ladrão descuidado</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Armadilha</type>
            <maintype>Armadilha</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Quando um inimigo comprar mais de um card no turno, compre 2 cards e leve 2 de dano</text>
        </card>
        <card>
          <name>Líder da matilha</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>G</color>
            <manacost>3G</manacost>
            <cmc>4</cmc>
            <type>Criatura Lendária - Humano </type>
            <maintype>Lendária</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Criaturas aliadas recebem +2/+2</text>
        </card>
        <card>
          <name>maiev cantonegro</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>2B</manacost>
            <cmc>3</cmc>
            <type>Criatura - Humano Ladino </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Furtividade
    Ao causar dano compre um card</text>
        </card>
        <card>
          <name>Patrulheiro das sombras</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>BG</manacost>
            <cmc>2</cmc>
            <type>Comandante - Humano</type>
            <maintype>Comandante</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao entrar em campo, invoque seu companheiro animal
    2: Caso seu companheiro animal esteja no cemitério, coloque-o em campo</text>
        </card>
        <card>
          <name>Rato atroz</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>G</color>
            <manacost>3GGG</manacost>
            <cmc>6</cmc>
            <type>Criatura - Rato </type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text></text>
        </card>
        <card>
          <name>Tiro triplo</name>
          <set rarity="rare">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>BBG</manacost>
            <cmc>3</cmc>
            <type>Magia</type>
            <maintype>Magia</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Cause 1 de dano a uma criatura e as criaturas adjacentes a ela</text>
        </card>
        <card>
          <name>Vingança</name>
          <set rarity="common">VSFD</set>
          <prop>
            <color>B</color>
            <manacost>1B</manacost>
            <cmc>2</cmc>
            <type>Armadilha</type>
            <maintype>Armadilha</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Caso uma de suas criaturas seja alvejada fora de seu turno, cause dano equivalente a vida de usa criatura no alvo desejado</text>
        </card>
        <card>
          <name>Wendigo</name>
          <set rarity="">VSFD</set>
          <prop>
            <color>BG</color>
            <manacost>BBBBGGG</manacost>
            <cmc>7</cmc>
            <type>Criatura Lendária </type>
            <maintype></maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>preciso
    psicose Wendigo:
    Sempre que esta causar dano a outra criatura seu alvo realizará um ataque a criatura adjacente com menor vida</text>
        </card>
    
        <!-->Tokens</-->
    
        <card>
          <name>Anotação</name>
          <set>VSFD</set>
          <prop>
            <color>WB</color>
            <type>Ficha Artefato</type>
            <maintype>Artefato</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>{1}: Sacrifique Anotação, conceda a uma criatura +1/+1, ela agora tem “Quando essa criatura morrer, conceda minhas habilidades e palavras chave para uma criatura aliada”.</text>
          <token>1</token>
        </card>
        <card>
          <name>Defensor Spartano</name>
          <set>VSFD</set>
          <prop>
            <color>WR</color>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao atacar junto a outro aliado, conceda Escudo ao aliado a esquerda e a esta carta.</text>
          <token>1</token>
        </card>
        <card>
          <name>Soldado Spartano</name>
          <set>VSFD</set>
          <prop>
            <color>R</color>
            <type>Criatura - Héroi de Guerra - Humano</type>
            <maintype>Criatura</maintype>
          </prop>
          <tablerow>1</tablerow>
          <text>Ao atacar junto a outro aliado, conceda +1/+0 ao aliado a direita.</text>
          <token>1</token>
        </card>
    
      </cards>
    </cockatrice_carddatabase>
    </textarea>
    <div class="conteudo">
        <h1>VERSÃO 0.0.0</h1>
        <div>
            <button type="button" class="btn" (click)="onDowloadMse()">
                Dowload MSE
            </button>
            <button>
                Dowload img-file
            </button>
            <button>
                Dowload xml
            </button>
        </div>
        


    </div>
</div>


